.navbar-brand img{
    height: 64px;
}

.hero {
    background-color: #676664;
    text-align: center;
    padding: 150px 0px;
    color: white;
    font-size: 1.3rem;
}

.hero h1 {
    font-size: 3rem;
}
.hero p {
    max-width: 700px;
    margin: 0 auto;
}

.hero-sm {
    padding: 75px 0;
}

.cardsection {
    text-align: center;
    background-color: #f2f2f2;
    padding: 100px;
}

.carditems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carditem {
    background-color: white;
    padding: 24px;
    margin: 0px 12px;
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .carditems {
        flex-direction: column;
    }
    .carditem{
        margin-bottom: 24px;
    }
}

.carditem p {
    margin-bottom: 0;
}

.carditem img {
    width: 100%;
    margin-bottom: 16px;
}
.readingsection {
    padding: 100px;
    padding-bottom: 0px;
}
.readingsection .reading{
    margin-bottom: 48px;
}

footer {
    padding: 50px 100px;
    color: white;
}

footer p{
    margin-bottom: 0;
}

footer img {
    width: 80%;
}

footer li a {
    color: white;
    text-decoration: none;
}
footer li a:hover {
    color: #bbb;
} 