#svgViewPort svg {
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
  }
  
  #svgViewPort svg:not(.active):not(.ctrl) {
    cursor: crosshair;
  }
  
  path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
  }
  
  #svgViewPort svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
  }
  
  path.link.selected {
    stroke-dasharray: 10,2;
  }
  
  path.link.dragline {
    pointer-events: none;
  }
  
  path.link.hidden {
    stroke-width: 0;
  }
  
  circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
  }

  #svgViewPort text {
    pointer-events: none;
  }
  
  #svgViewPort text.id {
    text-anchor: middle;
    font-weight: bold;
  }

  #svgViewPort {
    height: calc(100vh - 48px);
  }