{% extends 'graph-template.html' %}

{% block sidebar %}
<h4>k-Chromatic Chordal Graph</h4>
<p>Step 1. Create Graph</p>
<p>First create a graph with only one connected component and more than one mutually independent vertex</p>
<ul>
    <li>To add a node, right click in the viewport</li>
    <li>To remove a node, right click on the node</li>
    <li>To add an edge, click and drag from one node to another</li>
    <li>To remove an edge, right click on the edge</li>
</ul>
<strong><span id="errorSpan" style="color:darkred">Graph Can not be empty</span></strong>
<hr>
<p>Step 2. Add edges from the mutually independent vertices to the graph.</p>
<button type="button" class="btn btn-primary my-2" id="btnStep2" onclick="btnOnClick(this.id)" disabled>Add Edges</button>
<hr>
<p>Step 3. Add edges to the connected componet to create a clique.</p>
<button type="button" class="btn btn-primary my-2" id="btnStep3" onclick="btnOnClick(this.id)" disabled>Add Edges</button>
<hr>
<button type="button" class="btn btn-primary mt-4" id="reload" onclick="window.location.href=window.location.href">Reload</button>
<br>
<button type="button" class="btn btn-primary mt-2" id="reload" onclick="simulation.stop()">Stop Simulation</button>
<div class="alert alert-warning alert-dismissible my-4" id="Alert" hidden>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Note!</strong> Python does not generate a complete graph, please continue to next step
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/chordal-graph-k-chromatic/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/chordal-graph-k-chromatic/app.js') }}"></script>

{% endblock %}
