{% extends 'layout.html' %}

<!-- we hide the footer on the graph app pages -->
{% set noFooter = True %}

{% block customhead %}

<!-- graph styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/graph-app.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/graph-sheet.css') }}" />

{% endblock %} 

{% block content %}

<style>
    .graphapp{
        height: calc(100vh - 90px);
        width: 100%;
    }
</style>

<div class="row graphapp">
    <div class="col-3 bg-primary">h</div>
    <div class="col-9 bg-success">h</div>
</div>    

<!-- D3 -->
<script src="{{ url_for('static', filename='js/d3/d3.v5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3/d3-transition.v1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3/d3-ease.v1.min.js') }}"></script>

{% endblock %}