{% extends 'layout.html' %} {% block content %}

<div class=" hero hero-sm">
    <h1>GRAPHING</h1>
    <p>Please select one of the below graphing tools and enjoy!</p>
</div>
<div class="cardsection">
    <h3>Select a Tool</h3><br>
    <div class="carditems">
        <div class="carditem">
            <h5>k-Chromatic Chordal Graph</h5>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
        <div class="carditem">
            <h5>Unified Chordal Graph</h5>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
        <div class="carditem">
            <h5>Random Graph Evolution</h5>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
        <div class="carditem">
            <h5>Binomial Graph Evolution</h5>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
        <div class="carditem">
            <h5>Network Resilience Test</h5>
            <a href="#" class="btn btn-primary">Open</a>
        </div>    
    </div>
</div>
{% endblock %}