{% extends 'layout.html' %} {% block content %}

<div class=" hero hero-sm">
    <h1>GRAPHING</h1>
    <p>Please select one of the below graphing tools and enjoy!</p>
</div>
<div class="cardsection">
    <div class="carditem">
        <img src="{{ url_for('static', filename='images/jeremie.png') }}" alt="" srcset="">
        <h5>Jeremie Bornais</h5>
        <p>Software Developer</p>
        <small>borna113@uwindsor.ca</small>
    </div>
    <div class="carditem">
        <img src="{{ url_for('static', filename='images/ekjot.png') }}" alt="" srcset="">
        <h5>Ekjot Multani</h5>
        <p>Software Developer</p>
        <small>multanie@uwindsor.ca</small>
    </div>
    <div class="carditem">
        <img src="{{ url_for('static', filename='images/zain.png') }}" alt="" srcset="">
        <h5>Zain Raza</h5>
        <p>Business Student</p>
        <small>razaz@uwindsor.ca</small>
    </div>
    <div class="carditem">
        <img src="{{ url_for('static', filename='images/asish.png') }}" alt="" srcset="">
        <h5>Dr. Asish Mukhopadhyay</h5>
        <p>Supervisor</p>
        <small>asishm@uwindsor.ca</small>
    </div>
</div>
{% endblock %}